body{
    background-image: linear-gradient(to right ,#FF5F6D, #FFC371);
    background-size: cover;
}

.title h1{
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
}

.title h2{
    justify-content: center;
    align-items: center;  
    display: flex;
    color: white;
}

.text .container{
    width: 290px;
    border: 2px solid rgba(255, 255, 255, .2);
    background-color: transparent;
    backdrop-filter: blur(20px);
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    justify-content:center;
    align-items: center;
}
.text p{
    color: white;
    justify-content: center;
    align-items: center;
}
.photo{
    padding: 10px 10px 10px 0px;
}
.photo img{
    height: 50px;
    width: 50px;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}

.multimedia{
    display:flex;
} 


.musick audio{
    height: 50px;
    width: 250px;
    margin-top: 20px;
    padding-left: 10px;
}

.video video{
    height:220px;
    width:340px;
}